@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  margin: 0;
  color: white;
}

